.main {
    background-color: var(--background-primary);
    font-size: var(--text-fontsize-default);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.content {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.welcomeText {
    width: 40%;
}

.welcomeText h1 {
    margin-bottom: 2rem;
}

.welcomeRowContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.welcomeRow {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.welcomeContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.welcomeForm {
    background-color: var(--background-tertiary);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    border-radius: 10px;
}

.welcomeForm h2 {
    text-align: center;
}

.welcomeForm p {
    text-align: center;
}

.welcomeFormContent {
    display: flex;
    flex-direction: column;
}

.welcomeFormContent input {
    background-color: var(--background-primary);
    border: 1px solid  var(--background-primary);
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.welcomeFormContent button {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--background-quaternary);
    font-family: inherit;
    font-weight: var(--text-fontweight-semibold);
    /* color: var(--background-primary) */
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .main {
        height: unset;
    }
    .description {
        padding: 2rem 0;
        gap: 2rem;
    }
    .emmanuelBanner {
        width: 70%;
        height: auto;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
    .welcomeForm {
        width: 90%;
    }
    .welcomeText {
        width: 90%;
    }
    .welcomeText h1 {
        font-size: 1.5rem;
    }
}
