.detailsSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 4rem 0;
    gap: 3rem;
}

.worshipDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.worshipDetails h2 {
    font-weight: 500;
    font-size: 1.75rem;
}

.detailsCardContainer {
    display: flex;
    padding: 0 2rem;
    gap: 2.5rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.detailCard {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.detailText {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .3rem;
}

.detailText p:first-of-type {
    font-weight: 600;
}

.imgContainer {
    width: 21.875rem;
    height: 21.875rem;
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
}

.homeImg {
    justify-content: center;
}

.reflectionsImg {
    justify-content: center;
}

.fellowshipsImg {
    justify-content: center;
    padding-left: 5rem;
}

.mobileText {
    display: none;
}

@media (max-width: 1199px) {
    .detailCard {
        width: 280px;
    }
    .imgContainer {
        width: 17rem;
    }
}

@media (max-width: 575px) {
    .detailCard {
        width: 90vw;
    }
    .imgContainer {
        width: 90vw;
        height: 20vh;
    }
    .mobileText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nonMobileText {
        display: none;
    }
    .detailCard {
        align-items: center;
    }
    .imgContainer {
        flex-direction: column;
    }
    .homeImg {
        justify-content: center;
    }
    .reflectionsImg {
        justify-content: flex-start;
        align-items: center;
    }
    
    .fellowshipsImg {
        justify-content: center;
        padding-left: 0;
    }
}