.finalSectionContainer {
    background-image: url("/emmanuel-church-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    background-position: 50% 57%;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finalSectionContainer p {
    font-size: 2rem;
    color: var(--background-primary);
    font-weight: 500;
}

.finalSectionContainer button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    border: 2px solid var(--background-primary);
    border-radius: 10rem;
    color: var(--background-primary);
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
}

.finalSectionContainer button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 10rem;
    z-index: -2;
}

.finalSectionContainer button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.finalSectionContainer button:hover {
    color: #fff;
}

.finalSectionContainer button:hover:before {
    width: 100%;
}

@media (max-width: 1199px) {
    .finalSectionContainer {
        height: 15vh;
        gap: .25rem;
    }
}

@media (max-width: 575px) {
    .finalSectionContainer {
        height: 25vh;
    }
    .finalSectionContainer p {
        font-size: 1.5rem;
        color: var(--background-primary);
        font-weight: 500;
        text-align: center;
    }
}



